@font-face {
	font-family: "Vazir";
	src: url("/src/assets/fonts/Vazirmatn-Regular.woff2") fromat("woff2");
}

* {
	font-family: "Vazir", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
